* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    width: 100%;
    height: 50px;
    background-color: #2b326d;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conteiner-child {
    height: 5rem;
    width: 10rem;
    background-color: #ADB2E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 15px;
}

.conteiner-child a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 1em;
}

.conteiner-child a:hover {
    color: white;
}

.conteiner-child:hover {
    background-color: #1a2cc7;
    color: white;
}

.active {
    background-color: #3c7397;
}


/* formatando as caixas de login e cadastro  */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dde8ec;
    width: 100%;
    padding: 2rem;
}

.form-login,
.form-login .user,
.form-login .password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user,
.password {
    margin-bottom: 1rem;
}

label,
label {
    font-weight: bold;
    font-size: 16px;
    color: #647055;
    margin-bottom: .5rem
}

.notlogin {
    margin-top: 1.9rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.notlogin .casecadastroprof {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 3rem;
}

.notlogin .casecadastroaluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 3rem;
}

.casecadastroaluno span,
.casecadastroprof span {
    line-height: 1.2em;
    margin-bottom: .5rem
}

.notlogin a {
    margin-top: 1rem;
    color: white;
    background-color: #82d8ee;
    border: none;
    height: 1.7rem;
    width: 6rem;
    border-radius: 8px;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}